<h1>Listing Pictures</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= image_tag(picture.picture_url) %></td>
        <td><%= link_to 'Show', user_picture_path(current_user, picture) %></td>
        <td><%= link_to 'Edit', edit_user_picture_path(current_user, picture) %></td>
        <td><%= link_to 'Delete', user_picture_path(current_user, picture), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Picture', new_user_picture_path %>
